<h1 class="title">Rails Blog > Edit</h1>
<div class="section">
    <%= form_with scope: :article, url: update_article_path, local: true, method: :put do |f|  %>
        <div class="validations">
            <% if @article.errors.any?  %>
                    <% @article.errors.full_messages.each do |message| %>
                        <div>
                            <%= message %>
                        </div>
                    <% end %>
            <% end %>     
        </div>
        <div class="form-group">
            <%= f.label :title, class: 'form-label' %>
            <%= f.text_field :title, class: 'text-input' %>
        </div>
        <div class="form-group">
            <%= f.label :body, class: 'form-label' %>
            <%= f.text_area :body, class: 'text-area' %>
        </div>

        <div class="form-group">
            <%= f.submit 'Save', class: 'button' %>
            <%=  link_to 'Delete', delete_article_path(@article.id), method: :delete, class: 'button' %>
            <%=  link_to 'Cancel', articles_path, method: :get, class: 'button' %>
        </div>
    <% end %>
</div>




